@import url("https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800|PT+Sans+Narrow:400,700|Ubuntu+Condensed|Ubuntu:300,300i,400,400i,500,500i,700,700i");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i,800,800i|Merriweather:300,300i,400,400i,700,700i,900,900i|PT+Serif+Caption:400,400i|Poiret+One|Yrsa:300,400,500,600,700&display=swap");
/* line 27, ../scss/partials/core/_templates.scss */
body .egl-column-left, body .egl-column-left .egl-nav-menu, body .egl-column-left .egl-nav-menu .egl-menu-block, body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link, body .egl-column-main .egl-main-top-bar, body .egl-multi-lang, body .form-group.egl-btn-wrapper,
body .form-group.col-md-12, body .egl-btn-wrapper, body .egl-pagination-wrapper, body .egl-chained-filter-wrapper,
body #egl-chained-filter-wrapper, body .egl-chained-filter-wrapper .egl-chained-filter-inner-box,
body #egl-chained-filter-wrapper .egl-chained-filter-inner-box, body .egl-field-row-wrapper {
  zoom: 1;
}
/* line 29, ../scss/partials/core/_templates.scss */
body .egl-column-left:before, body .egl-column-left .egl-nav-menu:before, body .egl-column-left .egl-nav-menu .egl-menu-block:before, body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link:before, body .egl-column-main .egl-main-top-bar:before, body .egl-multi-lang:before, body .form-group.egl-btn-wrapper:before,
body .form-group.col-md-12:before, body .egl-btn-wrapper:before, body .egl-pagination-wrapper:before, body .egl-chained-filter-wrapper:before,
body #egl-chained-filter-wrapper:before, body .egl-chained-filter-wrapper .egl-chained-filter-inner-box:before,
body #egl-chained-filter-wrapper .egl-chained-filter-inner-box:before, body .egl-field-row-wrapper:before, body .egl-column-left:after, body .egl-column-left .egl-nav-menu:after, body .egl-column-left .egl-nav-menu .egl-menu-block:after, body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link:after, body .egl-column-main .egl-main-top-bar:after, body .egl-multi-lang:after, body .form-group.egl-btn-wrapper:after,
body .form-group.col-md-12:after, body .egl-btn-wrapper:after, body .egl-pagination-wrapper:after, body .egl-chained-filter-wrapper:after,
body #egl-chained-filter-wrapper:after, body .egl-chained-filter-wrapper .egl-chained-filter-inner-box:after,
body #egl-chained-filter-wrapper .egl-chained-filter-inner-box:after, body .egl-field-row-wrapper:after {
  content: "";
  display: table;
}
/* line 33, ../scss/partials/core/_templates.scss */
body .egl-column-left:after, body .egl-column-left .egl-nav-menu:after, body .egl-column-left .egl-nav-menu .egl-menu-block:after, body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link:after, body .egl-column-main .egl-main-top-bar:after, body .egl-multi-lang:after, body .form-group.egl-btn-wrapper:after,
body .form-group.col-md-12:after, body .egl-btn-wrapper:after, body .egl-pagination-wrapper:after, body .egl-chained-filter-wrapper:after,
body #egl-chained-filter-wrapper:after, body .egl-chained-filter-wrapper .egl-chained-filter-inner-box:after,
body #egl-chained-filter-wrapper .egl-chained-filter-inner-box:after, body .egl-field-row-wrapper:after {
  clear: both;
}

/*
font-family: 'Poiret One', cursive;
font-family: 'Yrsa', serif;
font-family: 'PT Serif Caption', serif;
font-family: 'Merriweather', serif;
font-family: 'EB Garamond', serif;
*/
/* line 22, ../scss/egl-api.scss */
.application {
  font-family: 'PT Sans Narrow', 'Dosis', sans-serif;
}

/* line 26, ../scss/egl-api.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', 'Dosis', sans-serif;
  /*
  .egl-flash-pix-wrapper+article.well{
    min-height: 20px;
    background-color: $egl-success-well-bg;
    border: 1px solid $egl-success-well-bdr-col;
    -webkit-box-shadow: $egl-success-well-box-shd;
    box-shadow: $egl-success-well-box-shd;


    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: rgba(221,249,184,0.62);
    border: 1px solid rgba(155,192,107,0.48);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  }
  */
}
/* line 31, ../scss/egl-api.scss */
body .egl-logo {
  display: block;
  height: 45px;
  width: auto;
}
/* line 36, ../scss/egl-api.scss */
body .col.egl-main-content-wrapper {
  padding-bottom: 150px;
}
/* line 39, ../scss/egl-api.scss */
body .egl-column-left {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.35);
  font-family: 'PT Sans Narrow', 'Dosis', sans-serif;
  overflow: auto;
}
/* line 50, ../scss/egl-api.scss */
body .egl-column-left .egl-prime-heading {
  font-family: 'EB Garamond', 'Merriweather', 'PT Serif Caption', serif;
  letter-spacing: 0.075em;
  text-align: center;
  color: #969696;
  font-size: 1.35em;
  font-weight: 900;
  margin: 15px 0 15px 0;
  text-transform: uppercase;
}
/* line 61, ../scss/egl-api.scss */
body .egl-column-left .egl-nav-menu {
  font-family: 'EB Garamond', 'Merriweather', 'PT Serif Caption', serif;
  letter-spacing: 0.075em;
  background-color: transparent;
  height: auto;
  line-height: normal;
}
/* line 68, ../scss/egl-api.scss */
body .egl-column-left .egl-nav-menu .egl-menu-block {
  margin-bottom: 0;
}
/* line 71, ../scss/egl-api.scss */
body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link {
  display: block;
  border-bottom: solid rgba(0, 0, 0, 0.3) 1px;
  color: black;
  margin-top: -1px;
  margin-bottom: 1px;
  cursor: pointer;
}
/* line 79, ../scss/egl-api.scss */
body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link .egl-menu-title,
body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link .egl-menu-icon-left,
body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link .egl-menu-icon-right {
  transition: background 0.5s, opacity 0.5s;
  padding: 5px 10px;
  font-size: 1.25em;
  float: left;
  margin: 0;
  box-sizing: border-box;
}
/* line 90, ../scss/egl-api.scss */
body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link .egl-menu-icon-left {
  text-align: center;
  border-right: solid rgba(0, 0, 0, 0.3) 1px;
  padding: 3px 5px;
  font-size: 1em;
}
/* line 96, ../scss/egl-api.scss */
body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link .egl-menu-icon-left img.egl-menu-icon-fa {
  padding: 2px 0 2px 0;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
}
/* line 103, ../scss/egl-api.scss */
body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link .egl-menu-icon-left span.egl-menu-icon-fa {
  font-size: 1.3em;
  padding: 7px 0;
}
/* line 109, ../scss/egl-api.scss */
body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link .egl-menu-title {
  padding-left: 15px;
  padding-bottom: 8px;
  padding-top: 6px;
  font-weight: 300;
}
/* line 119, ../scss/egl-api.scss */
body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link:hover .egl-menu-title,
body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link:hover .egl-menu-icon-left {
  opacity: 0.8;
  background: rgba(209, 218, 224, 0.95);
  color: #186534;
}
/* line 126, ../scss/egl-api.scss */
body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link.pz-active {
  background: rgba(209, 218, 224, 0.95);
  color: #186534;
  opacity: 1;
}
/* line 131, ../scss/egl-api.scss */
body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link.pz-active:hover .egl-menu-title,
body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link.pz-active:hover .egl-menu-icon-left {
  opacity: 1;
}
/* line 140, ../scss/egl-api.scss */
body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link.egl-active .egl-menu-title {
  background-color: rgba(235, 249, 215, 0.2);
  color: white;
}
/* line 144, ../scss/egl-api.scss */
body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link.egl-active .egl-menu-icon-left {
  background-color: rgba(255, 255, 255, 0);
  color: #85c728;
  border-right: solid black 1px;
}
/* line 150, ../scss/egl-api.scss */
body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link.egl-active:hover .egl-menu-title,
body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link.egl-active:hover .egl-menu-icon-left {
  opacity: 1;
}
/* line 158, ../scss/egl-api.scss */
body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link + ul.egl-sub-group {
  margin-bottom: 0;
}
/* line 159, ../scss/egl-api.scss */
body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link + ul.egl-sub-group li {
  display: block;
  width: 100%;
}
/* line 162, ../scss/egl-api.scss */
body .egl-column-left .egl-nav-menu .egl-menu-block .egl-dormant-link + ul.egl-sub-group li a {
  padding-left: 50px;
  margin-top: -1px;
}
/* line 174, ../scss/egl-api.scss */
body .egl-column-main .egl-main-top-bar,
body .egl-column-main .egl-content-main-heading {
  font-family: 'EB Garamond', 'Merriweather', 'PT Serif Caption', serif;
  text-align: center;
  color: #ffffff;
  font-size: 1.75em;
  background-color: #404040;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 15px;
}
/* line 185, ../scss/egl-api.scss */
body .egl-column-main .egl-main-top-bar .egl-group-name,
body .egl-column-main .egl-content-main-heading .egl-group-name {
  color: #85c728;
}
/* line 189, ../scss/egl-api.scss */
body .egl-column-main .egl-main-top-bar {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.35);
}
/* line 195, ../scss/egl-api.scss */
body .egl-footer-wrapper {
  background-color: #000000;
  border-top: solid 1px #ebf9d7;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* line 204, ../scss/egl-api.scss */
body .egl-footer-wrapper .egl-footer-inner {
  color: white;
  padding: 10px 15px;
  margin-bottom: 0;
}
/* line 209, ../scss/egl-api.scss */
body .egl-footer-wrapper .egl-footer-inner .egl-ftr-right {
  text-align: right;
}
/* line 211, ../scss/egl-api.scss */
body .egl-footer-wrapper .egl-footer-inner .egl-ftr-right .egl-ftr-content-right {
  font-size: 1em;
  display: inline-block;
  text-align: right;
}
/* line 215, ../scss/egl-api.scss */
body .egl-footer-wrapper .egl-footer-inner .egl-ftr-right .egl-ftr-content-right.egl-ftr-coy-name {
  font-size: 2em;
  color: #ebf9d7;
}
/* line 220, ../scss/egl-api.scss */
body .egl-footer-wrapper .egl-footer-inner .egl-ftr-right .egl-ftr-content-right.egl-ftr-coy-address {
  display: inline-block;
  padding-left: 8px;
}
/* line 238, ../scss/egl-api.scss */
body ul li .router-link-active,
body ul li .router-link-exact-active,
body ul li .egl-action {
  cursor: pointer;
  display: block;
  padding: 7px 15px;
  color: #000000;
  background: #eceff1;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(174, 190, 199, 0.71);
  margin-bottom: 1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
/* line 256, ../scss/egl-api.scss */
body ul a {
  text-decoration: none;
  cursor: pointer;
}
/* line 259, ../scss/egl-api.scss */
body ul a:hover {
  text-decoration: none;
}
/* line 263, ../scss/egl-api.scss */
body ul.pz-sub-menu {
  display: none;
  transition: all 0.5s;
}
/* line 266, ../scss/egl-api.scss */
body ul.pz-sub-menu.egl-visible {
  display: block;
}
/* line 271, ../scss/egl-api.scss */
body ul.pz-sub-menu li.pz-active a {
  background: rgba(113, 168, 39, 0.9);
  color: white;
}
/* line 275, ../scss/egl-api.scss */
body ul.pz-sub-menu li.pz-active a:hover {
  background: rgba(255, 214, 112, 0.66);
  color: #71a827;
  text-shadow: 1px 1px 0 #020202;
}
/* line 291, ../scss/egl-api.scss */
body td .fa.pz-icon {
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
}
/* line 295, ../scss/egl-api.scss */
body td .fa.pz-icon.pz-edit {
  color: darkgreen;
}
/* line 298, ../scss/egl-api.scss */
body td .fa.pz-icon.pz-delete {
  color: darkred;
}
/* line 301, ../scss/egl-api.scss */
body td .fa.pz-icon.pz-clone {
  color: darkblue;
}
/* line 309, ../scss/egl-api.scss */
body .no-lr-pad {
  padding-left: 0;
  padding-right: 0;
}
/* line 314, ../scss/egl-api.scss */
body .egl-no-r-pad {
  padding-right: 0;
}
/* line 318, ../scss/egl-api.scss */
body .egl-field-hint {
  display: block;
  font-style: italic;
  margin-top: -5px;
  margin-bottom: 8px;
  color: #44535f;
}
/* line 327, ../scss/egl-api.scss */
body .egl-menu-form-wrapper .egl-heading {
  background: #e7e7e7;
  font-weight: 200;
  color: #58a800;
  font-size: 18px;
  padding: 8px;
  margin: 0 0 15px 0;
  box-sizing: border-box;
  text-transform: uppercase;
}
/* line 338, ../scss/egl-api.scss */
body .egl-form-info-headline {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 10px;
  border-top: dashed 1px black;
  border-bottom: dashed 1px black;
}
/* line 350, ../scss/egl-api.scss */
body .egl-centered {
  text-align: center;
}
/* line 355, ../scss/egl-api.scss */
body .pz-sortable-col .egl-filter-chain,
body .pz-sortable-col .pz-sortable-col-box {
  transition: all 0.25s;
  cursor: pointer;
}
/* line 361, ../scss/egl-api.scss */
body .pz-sortable-col .egl-filter-chain {
  color: #698296;
}
/* line 363, ../scss/egl-api.scss */
body .pz-sortable-col .egl-filter-chain:hover {
  color: #306900;
}
/* line 371, ../scss/egl-api.scss */
body [data-orientation="1"] .fa-angle-up {
  color: #00bc00;
  font-weight: 700;
}
/* line 378, ../scss/egl-api.scss */
body [data-orientation="2"] .fa-angle-down {
  color: red;
  font-weight: 700;
}
/* line 385, ../scss/egl-api.scss */
body .egl-search-and-new-entity-tr .egl-search-and-new-entity-td {
  background: #eceff1;
  border-bottom: rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  border-top: solid 1px white !important;
}
/* line 391, ../scss/egl-api.scss */
body .egl-search-and-new-entity-tr .egl-search-and-new-entity-td .egl-search-and-new-entity-box {
  padding: 10px 15px;
  margin-bottom: 0;
}
/* line 394, ../scss/egl-api.scss */
body .egl-search-and-new-entity-tr .egl-search-and-new-entity-td .egl-search-and-new-entity-box .egl-new-entity {
  padding-top: 7px;
}
/* line 401, ../scss/egl-api.scss */
body .pz-hidden {
  display: none;
}
/* line 405, ../scss/egl-api.scss */
body .egl-form-container,
body #egl-form-container {
  /*
  background: $egl-success-form-container-bg;
  padding: 15px 30px;
  border: solid 1px #dadada;
  border-top: none;
  */
}
/* line 416, ../scss/egl-api.scss */
body div.pz-switch-wrapper {
  float: right;
}
/* line 420, ../scss/egl-api.scss */
body #pz-hidden-form-wrapper {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
  z-index: 1318;
}
/* line 428, ../scss/egl-api.scss */
body #pz-hidden-form-wrapper .egl-form-container, body #pz-hidden-form-wrapper #egl-form-container {
  /*
  background: $egl-success-form-container-bg;
  padding: 15px 30px;
  border: solid 1px $egl-success-form-container-bdr-col;
  border-top: none;
  width: 50%;
  max-height: 350px;
  overflow: auto;
  margin: 0 auto;
  position: relative;
  margin-left: 25%;
  */
  background: rgba(253, 253, 253, 0.95);
  padding: 15px 30px;
  border: solid 1px #656565;
  border-top: none;
  width: 50%;
  max-height: 500px;
  overflow: auto;
  margin: 0 auto;
  position: relative;
  margin-left: 25%;
}
/* line 455, ../scss/egl-api.scss */
body .pz-close-form-box,
body .fa.fa-window-close.pz-close-form-box {
  cursor: pointer;
  display: inline-block;
  position: fixed;
  top: 12px;
  right: 25.65%;
  font-size: 1.5em;
  color: #d00;
  z-index: 999;
}
/* line 468, ../scss/egl-api.scss */
body .list-group-item,
body .list-group-item:first-child {
  position: relative;
  display: block;
  padding: 0 0;
  background-color: transparent;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* line 479, ../scss/egl-api.scss */
body .list-group-item ul li a, body .list-group-item .pz-sub-menu li a,
body .list-group-item:first-child ul li a,
body .list-group-item:first-child .pz-sub-menu li a {
  transition: all 0.5s;
  padding-left: 1.75em;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
/* line 484, ../scss/egl-api.scss */
body .list-group-item ul li a:hover, body .list-group-item .pz-sub-menu li a:hover,
body .list-group-item:first-child ul li a:hover,
body .list-group-item:first-child .pz-sub-menu li a:hover {
  background: rgba(255, 214, 112, 0.66);
  color: #517f21;
  text-shadow: 1px 1px 0 #020202;
}
/* line 491, ../scss/egl-api.scss */
body .list-group-item ul li.pz-active .egl-action,
body .list-group-item ul li.pz-active a.egl-action,
body .list-group-item ul li.pz-active .router-link-active,
body .list-group-item ul li.pz-active .router-link-exact-active, body .list-group-item .pz-sub-menu li.pz-active .egl-action,
body .list-group-item .pz-sub-menu li.pz-active a.egl-action,
body .list-group-item .pz-sub-menu li.pz-active .router-link-active,
body .list-group-item .pz-sub-menu li.pz-active .router-link-exact-active,
body .list-group-item:first-child ul li.pz-active .egl-action,
body .list-group-item:first-child ul li.pz-active a.egl-action,
body .list-group-item:first-child ul li.pz-active .router-link-active,
body .list-group-item:first-child ul li.pz-active .router-link-exact-active,
body .list-group-item:first-child .pz-sub-menu li.pz-active .egl-action,
body .list-group-item:first-child .pz-sub-menu li.pz-active a.egl-action,
body .list-group-item:first-child .pz-sub-menu li.pz-active .router-link-active,
body .list-group-item:first-child .pz-sub-menu li.pz-active .router-link-exact-active {
  background: rgba(113, 168, 39, 0.9);
  color: white;
  text-shadow: 1px 1px 0 #020202;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 500, ../scss/egl-api.scss */
body .list-group-item ul li.pz-active .egl-action:hover,
body .list-group-item ul li.pz-active a.egl-action:hover,
body .list-group-item ul li.pz-active .router-link-active:hover,
body .list-group-item ul li.pz-active .router-link-exact-active:hover, body .list-group-item .pz-sub-menu li.pz-active .egl-action:hover,
body .list-group-item .pz-sub-menu li.pz-active a.egl-action:hover,
body .list-group-item .pz-sub-menu li.pz-active .router-link-active:hover,
body .list-group-item .pz-sub-menu li.pz-active .router-link-exact-active:hover,
body .list-group-item:first-child ul li.pz-active .egl-action:hover,
body .list-group-item:first-child ul li.pz-active a.egl-action:hover,
body .list-group-item:first-child ul li.pz-active .router-link-active:hover,
body .list-group-item:first-child ul li.pz-active .router-link-exact-active:hover,
body .list-group-item:first-child .pz-sub-menu li.pz-active .egl-action:hover,
body .list-group-item:first-child .pz-sub-menu li.pz-active a.egl-action:hover,
body .list-group-item:first-child .pz-sub-menu li.pz-active .router-link-active:hover,
body .list-group-item:first-child .pz-sub-menu li.pz-active .router-link-exact-active:hover {
  background: rgba(113, 168, 39, 0.9);
  color: white;
  text-shadow: 1px 1px 0 #020202;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 513, ../scss/egl-api.scss */
body .egl-menu-wrapper .list-group {
  margin-bottom: 0;
}
/* line 517, ../scss/egl-api.scss */
body .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #eceff1;
}
/* line 525, ../scss/egl-api.scss */
body .table > thead > tr > th {
  vertical-align: bottom;
  border-top: 1px solid rgba(174, 190, 199, 0.71);
  border-bottom: 1px solid rgba(174, 190, 199, 0.71);
  background: rgba(209, 218, 224, 0.69);
  border-radius: 0;
}
/* line 538, ../scss/egl-api.scss */
body .table-striped > tbody > tr:hover {
  background: rgba(200, 212, 220, 0.75);
}
/* line 543, ../scss/egl-api.scss */
body span.fa.fa-trash.pz-clear-search-icon,
body .pz-search-icon, body .fa.fa-filter.pz-search-icon {
  /*
  background: #d0d0d0;
  border: solid 1px #b3b3b3;
  padding: 10px;
  // border-radius: 0 !important;
  */
  background: rgba(209, 218, 224, 0.69);
  border: solid 1px rgba(209, 218, 224, 0.9);
  color: #6a8296;
  padding: 10px;
}
/* line 557, ../scss/egl-api.scss */
body #pz-ft-search,
body .egl-chained-filter-field {
  display: block;
  width: calc(100% - 80px - 2px);
  height: 36px;
  border-radius: 4px;
  outline: none;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: solid 1px rgba(105, 130, 150, 0.34902);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
/* line 578, ../scss/egl-api.scss */
body #pz-ft-search:focus,
body .egl-chained-filter-field:focus {
  padding-left: 40px;
  padding-right: 40px;
}
/* line 584, ../scss/egl-api.scss */
body .egl-menu-form-wrapper .egl-heading {
  background: #7eb03a;
  font-weight: 200;
  letter-spacing: 0.05em;
  color: white;
  font-size: 1.4em;
  padding: 15px;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: solid 1px #517323;
  border-bottom: none;
  text-transform: uppercase;
}
/* line 599, ../scss/egl-api.scss */
body .egl-nav-heading {
  padding: 15px;
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  background: rgba(155, 192, 107, 0.7);
  border-top-left-radius: 15px;
}
/* line 605, ../scss/egl-api.scss */
body .egl-nav-heading .egl-heading-3-nav {
  font-weight: 300;
  padding: 0;
  margin: 0;
  letter-spacing: 0.071em;
}
/* line 610, ../scss/egl-api.scss */
body .egl-nav-heading .egl-heading-3-nav .egl-small {
  font-size: 0.6em;
  text-transform: uppercase;
  margin: 5px 0;
  color: #60ff00;
  border-top: solid 1px #60ff00;
  padding: 3px;
  border-bottom: solid 1px #60ff00;
}
/* line 618, ../scss/egl-api.scss */
body .egl-nav-heading .egl-heading-3-nav .egl-small.egl-sub-heading {
  display: inline-block;
}
/* line 625, ../scss/egl-api.scss */
body .well,
body .egl-flash-pix-wrapper + article.well {
  padding: 20px;
  margin-bottom: 20px;
  font-size: 1.5em;
  background-color: #eceff1;
  border: 1px solid rgba(148, 148, 148, 0.48);
  border-top: none;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
/* line 637, ../scss/egl-api.scss */
body .egl-flash-pix-wrapper + article.well {
  border-top: none;
}
/* line 661, ../scss/egl-api.scss */
body .form-control {
  display: block;
  width: 100%;
  height: 44px;
  padding: 6px 12px;
  line-height: 1.42857143;
  /*
  color: $egl-success-form-ctrl-color;
  border: 1px solid $egl-success-form-ctrl-bdr-color;
  background-color: $egl-success-white;
  color: #000000;
  // border: 1px solid #5f5f5f;
  // font-weight: 300;
  */
  color: #576a79;
  font-weight: 500;
  background-color: white;
  border: 1px solid #92adb5;
  font-size: 1.25em;
  background-image: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* line 688, ../scss/egl-api.scss */
body .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #6a8296;
  font-style: italic;
}
/* line 692, ../scss/egl-api.scss */
body .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #6a8296;
  font-style: italic;
}
/* line 696, ../scss/egl-api.scss */
body .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #6a8296;
  font-style: italic;
}
/* line 700, ../scss/egl-api.scss */
body .form-control :-moz-placeholder {
  /* Firefox 18- */
  color: #6a8296;
  font-style: italic;
}
/* line 706, ../scss/egl-api.scss */
body label {
  font-weight: 300;
  font-size: 1.25em;
  background: rgba(182, 195, 167, 0.4);
  padding: 5px 10px 6px 10px;
  max-height: 44px;
  margin-top: 0;
  border: 1px solid rgba(49, 125, 50, 0.5);
}
/* line 715, ../scss/egl-api.scss */
body label.col-md-4.col.s4 {
  /*
  font-size: 1.25em;
  background: rgba(232, 232, 232, 0.4);
  padding: 5px 10px 6px 10px;
  max-height: 44px;
  margin-top: 0;
  color: black;
  border: 1px solid rgba(158, 158, 158, 0.5);
  */
  font-weight: 300;
  font-size: 1.25em;
  background: #dce2e7;
  padding: 5px 10px 6px 10px;
  max-height: 44px;
  margin-top: 0;
  color: #566a79;
  border: 1px solid rgba(86, 106, 121, 0.3);
}
/* line 736, ../scss/egl-api.scss */
body div.pz-switch-wrapper {
  float: right;
  margin-top: 0.85em;
}
/* line 741, ../scss/egl-api.scss */
body .egl-extra-pad {
  padding-right: 30px;
}
/* line 753, ../scss/egl-api.scss */
body .egl-multi-lang {
  position: relative;
  margin-bottom: 3px;
}
/* line 757, ../scss/egl-api.scss */
body .egl-multi-lang input, body .egl-multi-lang select, body .egl-multi-lang .form-control {
  width: 90%;
  float: left;
}
/* line 761, ../scss/egl-api.scss */
body .egl-multi-lang .egl-lang-indicator {
  width: 10%;
  max-width: 50px;
  float: left;
  text-align: center;
  text-transform: uppercase;
  padding: 11px 10px 11px 10px;
  min-height: 2.35rem;
  font-weight: 700;
  margin-bottom: 0;
  color: #364856;
  background: #dce2e7;
  border: solid 1px #8a9ca9;
  /*
  width: 8%;
  float: left;
  text-align: center;
  text-transform: uppercase;
  padding: 11px 10px 11px 10px;   // 8px 10px 9px 10px;
  min-height: 2.35rem;
  font-weight: 700;
  margin-bottom: 0;
  color: #001469;
  background: #f1e2ff;
  border: solid 1px #000;
  */
  /* color: #000000;
  background: #c5c5c5;
  border: solid 1px #9e9e9e;*/
}
/* line 792, ../scss/egl-api.scss */
body .egl-multi-lang:first-child .egl-lang-indicator {
  padding: 11px 10px 11px 10px;
}
/* line 798, ../scss/egl-api.scss */
body ul > li > a:first-child > span.fa:after {
  /*
  font-family: FontAwesome;
  content: " \f095 ";
  content: " \f175 ";
  content: " \f063 ";
  content: " \f107 ";
  content: " \f103 ";
  */
}
/* line 809, ../scss/egl-api.scss */
body .egl-red-flag {
  color: red;
}
/* line 813, ../scss/egl-api.scss */
body .egl-green-flag {
  color: #76b827;
}
/* line 817, ../scss/egl-api.scss */
body .form-group.egl-btn-wrapper,
body .form-group.col-md-12 {
  /*
  padding: 10px 10px 6px 10px;
  background: $egl-success-form-grp-wrapper-bg;
  border: dashed 1px $egl-success-form-grp-wrapper-bdr-col;
  */
  padding: 10px 10px 10px 10px;
  background: rgba(220, 226, 231, 0.5);
  border: dashed 1px #bccad6;
  /*
  background: rgba(247, 247, 247, 0.38);
  border: dashed 1px rgba(86, 86, 86, 0.26);
  */
}
/* line 833, ../scss/egl-api.scss */
body .form-group.egl-btn-wrapper input[type=submit].form-control, body .form-group.egl-btn-wrapper button[type=submit].form-control,
body .form-group.col-md-12 input[type=submit].form-control,
body .form-group.col-md-12 button[type=submit].form-control {
  color: #566a79;
}
/* line 843, ../scss/egl-api.scss */
body .egl-new-entity-btn {
  /**
  transition: all 0.75s;
  cursor: pointer;
  left: 0;
  border-radius: 4px;
  background: #b3b3b3;
  padding: 9px;
  color: #020202;
  text-decoration: none;
  border: solid 1px #868686;
  */
  transition: all 0.75s;
  cursor: pointer;
  left: 0;
  border-radius: 4px;
  background: #dde3e8;
  padding: 9px;
  color: #4c6477;
  text-decoration: none;
  border: solid 1px rgba(146, 173, 181, 0.55);
}
/* line 864, ../scss/egl-api.scss */
body .egl-new-entity-btn:hover {
  /*
  text-decoration:none;
  color: #FAFAFA;
  background: #6f6f6f;
  border: solid 1px #525252;
  */
  text-decoration: none;
  color: #FAFAFA;
  background: #6e808e;
  border: solid 1px #eceff1;
}
/* line 878, ../scss/egl-api.scss */
body .egl-pagination-num-slot {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  padding: 5px 8px;
  min-width: 40px;
  font-weight: 700;
  margin-right: 3px;
  background: rgba(43, 43, 43, 0.85);
  border: solid 1px rgba(80, 80, 80, 0.7);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  color: white;
}
/* line 891, ../scss/egl-api.scss */
body .egl-pagination-num-slot:hover {
  color: #000c4b;
  background: #e4e4e4;
  border: solid 1px #969696;
}
/* line 896, ../scss/egl-api.scss */
body .egl-pagination-num-slot.egl-pagination-ellipses {
  color: white;
  background: rgba(43, 43, 43, 0.85);
  border: solid 1px rgba(80, 80, 80, 0.7);
  cursor: default;
}
/* line 901, ../scss/egl-api.scss */
body .egl-pagination-num-slot.egl-pagination-ellipses:hover {
  color: #284600;
  background: rgba(233, 247, 215, 0.8);
  border: solid 1px rgba(0, 136, 0, 0.4);
}
/* line 907, ../scss/egl-api.scss */
body .egl-pagination-num-slot.hidden {
  display: none;
}
/* line 910, ../scss/egl-api.scss */
body .egl-pagination-num-slot.egl-active-page {
  background: #e4e4e4;
  color: black;
  border: solid 1px #969696;
  font-weight: 900;
}
/* line 915, ../scss/egl-api.scss */
body .egl-pagination-num-slot.egl-active-page:hover {
  background: #e4e4e4;
  color: black;
  border: solid 1px #969696;
  font-weight: 900;
}
/* line 924, ../scss/egl-api.scss */
body .no-r-pad {
  padding-right: 0;
}
/* line 928, ../scss/egl-api.scss */
body .no-l-pad {
  padding-left: 0;
}
/* line 932, ../scss/egl-api.scss */
body .egl-pagination-wrapper {
  background: #dde4e7;
  padding: 10px 15px;
  position: relative;
  border: solid 1px rgba(174, 190, 199, 0.71);
  border-left: none;
  border-right: none;
}
/* line 941, ../scss/egl-api.scss */
body .egl-pagination-wrapper .egl-generic-label {
  font-weight: 300;
  font-size: 0.7em;
  background: transparent;
  padding: 0;
  max-height: 0;
  margin-top: 0;
  border: none;
}
/* line 952, ../scss/egl-api.scss */
body .egl-pagination-wrapper .egl-records-per-page select.form-control {
  height: 37px;
  padding: 0 12px;
}
/* line 956, ../scss/egl-api.scss */
body .egl-pagination-wrapper .egl-records-per-page label, body .egl-pagination-wrapper .egl-records-per-page .egl-generic-label {
  letter-spacing: 0.075em;
  color: black;
}
/* line 962, ../scss/egl-api.scss */
body .egl-pagination-wrapper .egl-pagination-slots-wrapper {
  padding-right: 15px;
  position: absolute;
  right: 0;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
/* line 973, ../scss/egl-api.scss */
body .egl-entity-render-table {
  margin-bottom: 0;
  font-size: 1.0em;
}
/* line 976, ../scss/egl-api.scss */
body .egl-entity-render-table tr {
  padding: 4px 15px;
}
/* line 978, ../scss/egl-api.scss */
body .egl-entity-render-table tr td, body .egl-entity-render-table tr th {
  padding: 8px;
}
/* line 980, ../scss/egl-api.scss */
body .egl-entity-render-table tr td:first-child, body .egl-entity-render-table tr th:first-child {
  padding-left: 30px;
}
/* line 983, ../scss/egl-api.scss */
body .egl-entity-render-table tr td:last-child, body .egl-entity-render-table tr th:last-child {
  padding-right: 30px;
}
/* line 988, ../scss/egl-api.scss */
body .egl-entity-render-table tr th {
  padding: 10px 8px;
}
/* line 993, ../scss/egl-api.scss */
body .egl-entity-render-table tr td:last-child {
  padding-left: 0;
}
/* line 1000, ../scss/egl-api.scss */
body .egl-active-page {
  background: #7b9063;
  color: rgba(255, 255, 255, 0.55);
  border: solid 1px #3a6b00;
}
/* line 1004, ../scss/egl-api.scss */
body .egl-active-page:hover {
  background: #7b9063;
  color: rgba(255, 255, 255, 0.55);
  border: solid 1px #3a6b00;
}
/* line 1011, ../scss/egl-api.scss */
body .egl-flash-pix-wrapper {
  width: 100%;
  min-height: 350px;
  display: block;
  padding: 4px;
  margin-bottom: 0;
  line-height: 1.42857143;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  background-image: url("../img/lettuces_002.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 1029, ../scss/egl-api.scss */
body .egl-flash-pix {
  width: 100%;
  height: auto;
}
/* line 1034, ../scss/egl-api.scss */
body .form-group {
  margin-bottom: 5px;
}
/* line 1038, ../scss/egl-api.scss */
body span.egl-form-field-hint-block {
  font-size: 0.75em;
  font-style: italic;
  letter-spacing: 0.05em;
  color: #44535f;
}
/* line 1046, ../scss/egl-api.scss */
body .egl-search-and-new-entity-tr .egl-search-and-new-entity-td {
  margin-bottom: 15px;
}
/* line 1050, ../scss/egl-api.scss */
body .egl-form-title-heading {
  margin-top: 10px;
  padding: 10px;
  border: solid 1px rgba(184, 200, 214, 0.9);
  text-transform: uppercase;
  text-align: center;
  color: #576a79;
  font-size: 1.75em;
  background: rgba(209, 218, 224, 0.69);
  font-weight: 700;
  letter-spacing: 0.035em;
}
/* line 1065, ../scss/egl-api.scss */
body .fa.fa-window-close.pz-close-form-box {
  cursor: pointer;
  display: inline-block;
  position: fixed;
  top: 4px;
  right: 25.65%;
  font-size: 1.5em;
  color: #d00;
  z-index: 999;
}
/* line 1078, ../scss/egl-api.scss */
body ul.pz-sub-menu li a {
  transition: all 0.75s;
}
/* line 1080, ../scss/egl-api.scss */
body ul.pz-sub-menu li a:hover {
  background: whitesmoke;
  color: #000000;
}
/* line 1087, ../scss/egl-api.scss */
body ul.pz-sub-menu li.pz-active a {
  background: rgba(200, 212, 220, 0.85);
  color: #3b6173;
  text-shadow: 0 0 0 #3b6173;
}
/* line 1091, ../scss/egl-api.scss */
body ul.pz-sub-menu li.pz-active a:hover {
  text-shadow: 0 0 0 #3b6173;
  background: rgba(200, 212, 220, 0.85);
  color: #3b6173;
}
/* line 1102, ../scss/egl-api.scss */
body .primary--text.text--darken-1 {
  color: #306900 !important;
  caret-color: #306900 !important;
}
/* line 1107, ../scss/egl-api.scss */
body .accent {
  background-color: #ff8f00 !important;
  border-color: #ff8f00 !important;
}
/* line 1112, ../scss/egl-api.scss */
body nav i, body nav [class^="mdi-"], body nav [class*="mdi-"], body nav i.material-icons {
  display: block;
  font-size: 24px;
  height: 56px;
  line-height: 35px;
}
/* line 1119, ../scss/egl-api.scss */
body div.form-group > label.col.s4 {
  padding: 8px 10px 8px 10px;
  max-height: 50px;
}
/* line 1125, ../scss/egl-api.scss */
body .egl-entity-status.fa-eye {
  color: darkred;
}
/* line 1131, ../scss/egl-api.scss */
body #col-filter-form-block #pz-hidden-form-wrapper {
  display: block;
}
/* line 1136, ../scss/egl-api.scss */
body .egl-chained-filter-wrapper,
body #egl-chained-filter-wrapper {
  position: relative;
}
/* line 1140, ../scss/egl-api.scss */
body .egl-chained-filter-wrapper .egl-chained-filter-inner-box,
body #egl-chained-filter-wrapper .egl-chained-filter-inner-box {
  position: relative;
}
/* line 1143, ../scss/egl-api.scss */
body .egl-chained-filter-wrapper .egl-chained-filter-inner-box .egl-remove-filter,
body .egl-chained-filter-wrapper .egl-chained-filter-inner-box .egl-submit-filter,
body #egl-chained-filter-wrapper .egl-chained-filter-inner-box .egl-remove-filter,
body #egl-chained-filter-wrapper .egl-chained-filter-inner-box .egl-submit-filter {
  cursor: pointer;
  background: rgba(209, 218, 224, 0.69);
  border: solid 1px rgba(209, 218, 224, 0.9);
  color: #6a8296;
  padding: 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 1156, ../scss/egl-api.scss */
body .egl-chained-filter-wrapper .egl-chained-filter-inner-box .egl-remove-filter,
body #egl-chained-filter-wrapper .egl-chained-filter-inner-box .egl-remove-filter {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-left: solid 1px rgba(106, 130, 150, 0.15);
  border-right: solid 1px rgba(106, 130, 150, 0.15);
  right: 33px;
}
/* line 1163, ../scss/egl-api.scss */
body .egl-chained-filter-wrapper .egl-chained-filter-inner-box .egl-chained-filter-field,
body #egl-chained-filter-wrapper .egl-chained-filter-inner-box .egl-chained-filter-field {
  display: block;
  width: calc(100% - 80px - 2px);
  height: 36px;
  border-radius: 4px;
  outline: none;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: solid 1px rgba(105, 130, 150, 0.34902);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}
/* line 1183, ../scss/egl-api.scss */
body .egl-chained-filter-wrapper .egl-chained-filter-inner-box .egl-chained-filter-field::-webkit-input-placeholder,
body #egl-chained-filter-wrapper .egl-chained-filter-inner-box .egl-chained-filter-field::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #6a8296;
  font-style: italic;
}
/* line 1187, ../scss/egl-api.scss */
body .egl-chained-filter-wrapper .egl-chained-filter-inner-box .egl-chained-filter-field::-moz-placeholder,
body #egl-chained-filter-wrapper .egl-chained-filter-inner-box .egl-chained-filter-field::-moz-placeholder {
  /* Firefox 19+ */
  color: #6a8296;
  font-style: italic;
}
/* line 1191, ../scss/egl-api.scss */
body .egl-chained-filter-wrapper .egl-chained-filter-inner-box .egl-chained-filter-field:-ms-input-placeholder,
body #egl-chained-filter-wrapper .egl-chained-filter-inner-box .egl-chained-filter-field:-ms-input-placeholder {
  /* IE 10+ */
  color: #6a8296;
  font-style: italic;
}
/* line 1195, ../scss/egl-api.scss */
body .egl-chained-filter-wrapper .egl-chained-filter-inner-box .egl-chained-filter-field :-moz-placeholder,
body #egl-chained-filter-wrapper .egl-chained-filter-inner-box .egl-chained-filter-field :-moz-placeholder {
  /* Firefox 18- */
  color: #6a8296;
  font-style: italic;
}
/* line 1200, ../scss/egl-api.scss */
body .egl-chained-filter-wrapper .egl-chained-filter-inner-box .egl-chained-filter-field:focus,
body #egl-chained-filter-wrapper .egl-chained-filter-inner-box .egl-chained-filter-field:focus {
  padding-left: 40px;
  padding-right: 40px;
}
/* line 1208, ../scss/egl-api.scss */
body .egl-entity-render-table thead tr td:last-child,
body .egl-entity-render-table tr th:last-child {
  padding-right: 0;
}
/* line 1213, ../scss/egl-api.scss */
body .egl-field-row-wrapper {
  background: #f7fbff;
  border: solid 1px #b3bec6;
  margin-bottom: 2px;
}
/* line 1219, ../scss/egl-api.scss */
body .egl-field-row-wrapper input.form-control.egl-1-to-many-field {
  height: 1.3rem;
  margin-bottom: 2px;
  border: none;
}
/* line 1225, ../scss/egl-api.scss */
body .egl-field-row-wrapper div.form-control.egl-1-to-many-field {
  border: none;
  height: auto;
  padding: 0 0 6px 0;
  font-weight: 500;
}
/* line 1233, ../scss/egl-api.scss */
body .form-group select.form-control {
  height: 3.1rem;
}
/* line 1237, ../scss/egl-api.scss */
body .col-md-4.col.s4.egl-crud-block-wrapper {
  padding-top: 15px;
  text-align: right;
}
/* line 1240, ../scss/egl-api.scss */
body .col-md-4.col.s4.egl-crud-block-wrapper .fa {
  display: inline-block;
  cursor: pointer;
  margin-left: 10%;
}
/* line 1248, ../scss/egl-api.scss */
body .table-responsive,
body section.table-responsive {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.35);
}
/* line 1253, ../scss/egl-api.scss */
body .egl-one-2-many,
body select[name='bezeichnung'] {
  margin-top: -15px;
  opacity: 1;
  border: none;
  background: transparent;
  padding: 0 10px;
  margin-left: -10px;
}
