$screen-width-medium:         1150px;
$screen-width-small:          480px;
$screen-width-default:        1150px;
$half_screen_width:           480px;

$font-family-default:         'PT Sans Narrow', 'Dosis', sans-serif;
$font-family-dosis:           "Dosis", 'PT Sans Narrow', Helvetica, Arial,sans-serif;
$font-family-alternative:     Helvetica, Arial,sans-serif;

$font-size-default:           15px;
$font-size-navigation:        22px;
$font-size-sub-link:          18px;



$egl-global-red:            red;
$egl-global-black:          black;
$egl-global-green:          rgba(118, 184, 39, 1);
$egl-global-black:          rgba(0, 0, 0, 1);
$egl-global-white:          rgba(255, 255, 255, 1);
$egl-global-tinted-black-2: #020202;
$egl-global-middle-gray:    #555555;